<!DOCTYPE html>
<html lang="pt">

<head>
  <title>OneMedia, SA - Resposta de <%-senderSubject%></title>
</head>

<body>
  <div class="mt-10 max-w-[768px] mx-auto">
    <p class="mb-4">Estimado sr(a) <span class="font-bold"><%-senderName%></span>,</p>

    <p class="mb-4">Obrigado por usar os serviços da <a href="https://onemediamoz.com" class="font-semibold">OneMedia,
        SA</a>.
    </p>

    <p class="mb-4">
      Informamos que recebemos seu e-mail referente a <span class="font-semibold"><%-senderSubject%></span>.
      <br />
      Devido à imensa demanda, informamos que poderá haver um atraso de 1 a 7 dias para o retorno.
    </p>

    <p class="mb-4">Cpts, OneMedia, SA</p>
  </div>
</body>

</html>